In [ ]:
#1. UpSampling

In [2]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_sample = 1000;
class_0_ratio  = 0.9 
n_class_0 = int(n_sample*class_0_ratio)
n_class_1 = n_sample - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [7]:
##Create dataset with imbalance dataset
class_0 = pd.DataFrame({'feature_1': np.random.normal(loc= 0 , scale= 1, size =n_class_0), 'feature_2': np.random.normal(loc= 0, scale = 1, size = n_class_0), 'target' : [0]*n_class_0})
class_1 = pd.DataFrame({'feature_1': np.random.normal(loc= 2 , scale= 1, size =n_class_1), 'feature_2': np.random.normal(loc= 2, scale = 1, size = n_class_1), 'target' : [1]*n_class_1})

In [13]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [14]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [15]:
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [17]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [21]:
#Upsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [29]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace= True, n_samples=len(df_majority), random_state=42)

In [31]:
df_minority_upsampled.shape

(900, 3)

In [32]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [34]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [39]:
#Down sampling
import numpy as np
import pandas as pd

np.random.seed(123)

n_sample = 1000;
class_0_ratio  = 0.9 
n_class_0 = int(n_sample*class_0_ratio)
n_class_1 = n_sample - n_class_0
##Create dataset with imbalance dataset
class_0 = pd.DataFrame({'feature_1': np.random.normal(loc= 0 , scale= 1, size =n_class_0), 'feature_2': np.random.normal(loc= 0, scale = 1, size = n_class_0), 'target' : [0]*n_class_0})
class_1 = pd.DataFrame({'feature_1': np.random.normal(loc= 2 , scale= 1, size =n_class_1), 'feature_2': np.random.normal(loc= 2, scale = 1, size = n_class_1), 'target' : [1]*n_class_1})
df = pd.concat([class_0, class_1]).reset_index(drop = True)
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [40]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [52]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, replace= False, n_samples=len(df_minority), random_state=42)

In [53]:
df_majority_downsampled.shape

(100, 3)

In [54]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [55]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64